<div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content"> 欢迎使用一起作业网托管后台系统 </div>
            </h2>
            <form class="ui large form" method="post" action="/auth/login.vpage">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"> </i>
                            <input type="text" id="username" name="username" placeholder="请输入账号信息"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"> </i>
                            <input type="password" id="password" name="password" placeholder="请输入密码"/>
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button"> 登录 </button>
                </div>
                <div class="ui error message">
                    xxx
                </div>
            </form>
        </div>
    </div>
