<div class="ui grid center aligned">
    <div class="seven wide column left aligned">
        <form class="ui form">
            <div class="field">
                <label>用户名</label>
                <input type="text" name="username" placeholder="请输入用户名">
            </div>
            <div class="field">
                <label>密码</label>
                <input type="text" name="password" placeholder="请输入密码">
            </div>
            <div class="field">
                <div class="ui checked checkbox">
                    <input type="checkbox" checked="">
                    <label>我同意的条款和条件</label>
                </div>
            </div>
            <button class="ui green button" type="submit">提交</button>
        </form>
    </div>
</div>
