<form class="ui form">
    <div class="field">
        <label>用户名</label>
        <input type="text" name="username" placeholder="请输入用户名">
    </div>
    <div class="field">
        <label>密码</label>
        <input type="text" name="password" placeholder="请输入密码">
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>I agree to the Terms and Conditions</label>
        </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>
