<div class="ui grid">
    <div class="four wide column" style="overflow: hidden;">
        <div class="ui list">
            <!-- ko foreach: menuList -->
            <div class="item">

                <!-- 有子菜单显示成文件图标 -->
                <!-- ko if: $data["subMenu"] && subMenu().length > 0 -->
                <i class="tree icon" data-bind="css: { 'pointing right red': $parent.focusMenu().menuId() == menuId() }"></i>
                <!-- /ko -->

                <!-- 没有子菜单显示成叶片 -->
                <!-- ko ifnot: $data["subMenu"] && subMenu().length > 0 -->
                <i class="leaf icon" data-bind="css: { 'pointing right red': $parent.focusMenu().menuId() == menuId() }"></i>
                <!-- /ko -->

                <div class="content">
                    <a href="javascript:void(0);" data-bind="click: $parent.selectMenu.bind($data, false)">
                        <div class="header" data-bind="text: menuName"></div>
                        <div class="description" data-bind="text: desc"></div>
                    </a>
                    <!-- ko if: $data["subMenu"] -->
                    <div class="list">
                        <!-- ko foreach: subMenu -->
                        <div class="item">

                            <!-- 有子菜单显示成文件夹图标 -->
                            <!-- ko if: $data["subMenu"] && subMenu().length > 0 -->
                            <i class="book icon" data-bind="css: { 'pointing right red': $parents[1].focusMenu().menuId() == menuId() }"></i>
                            <!-- /ko -->

                            <!-- 没有子菜单显示成叶子图标 -->
                            <!-- ko ifnot: $data["subMenu"] && subMenu().length > 0 -->
                            <i class="leaf icon" data-bind="css: { 'pointing right red': $parents[1].focusMenu().menuId() == menuId() }"></i>
                            <!-- /ko -->

                            <div class="content">
                                <a href="javascript:void(0);" data-bind="click: $parents[1].selectMenu.bind($data, $parent)">
                                    <div class="header" data-bind="text: menuName"></div>
                                    <div class="description" data-bind="text: desc"></div>
                                </a>
                                <!-- ko if: $data["subMenu"] -->
                                <div class="list">
                                    <!-- ko foreach: subMenu -->
                                    <div class="item">

                                        <!-- ko if: menuId() != '' -->

                                        <!-- 有子菜单显示成文件夹图标 -->
                                        <!-- ko if: $data["subMenu"] && subMenu().length > 0 -->
                                        <i class="book icon" data-bind="css: { 'pointing right red': $parents[2].focusMenu().menuId() == menuId() }"></i>
                                        <!-- /ko -->

                                        <!-- 没有子菜单显示成叶子图标 -->
                                        <!-- ko ifnot: $data["subMenu"] && subMenu().length > 0 -->
                                        <i class="leaf icon" data-bind="css: { 'pointing right red': $parents[2].focusMenu().menuId() == menuId() }"></i>
                                        <!-- /ko -->

                                        <div class="content">
                                            <a href="javascript:void(0);" data-bind="click: $parents[2].selectMenu.bind($data, $parent)">
                                                <div class="header" data-bind="text: menuName"></div>
                                                <div class="description" data-bind="text: desc"></div>
                                            </a>
                                        </div>

                                        <!-- /ko -->

                                        <!-- ko ifnot: menuId() != '' -->

                                        <div class="content">
                                            <div class="header" data-bind="text: menuName"></div>
                                        </div>

                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui form">
            <div class="three fields">
                <div class="field">
                    <label>菜单ID</label>
                    <input type="text" data-bind="value: focusMenu().menuId, disable: true">
                </div>
                <div class="field">
                    <label>菜单名称</label>
                    <input type="text" data-bind="value: focusMenu().menuName, disable: true">
                </div>
                <div class="field">
                    <label>菜单等级</label>
                    <input type="text" data-bind="value: focusMenu().level, disable: true">
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>描述</label>
                    <input type="text" data-bind="value: focusMenu().desc, disable: true">
                </div>
                <div class="field">
                    <label>应用地址</label>
                    <input type="text" data-bind="value: focusMenu().link, disable: true">
                </div>
            </div>
            <button class="ui inverted orange button" data-bind="disable: focusMenu().menuId() == '' || focusMenu().menuId() == 'root', click: editMenu">编辑</button>
            <button class="ui inverted green button" data-bind="disable: focusMenu().menuId() == '', click: addSubMenu">添加子菜单</button>
            <button class="ui inverted violet button" data-bind="disable: focusMenu().menuId() == '', click: addDescMenu">添加说明子菜单</button>
            <button class="ui inverted blue button" data-bind="disable: focusMenu().menuId() == '' || focusMenu().menuId() == 'root', click: addLine">添加横线</button>
            <button class="ui inverted red button" data-bind="disable: focusMenu().menuId() == '' || (focusMenu().subMenu && focusMenu().subMenu().length > 0) || focusMenu().menuId() == 'root', click: removeMenu">删除</button>
            <button class="ui inverted olive button" data-bind="click: function(){ location.reload(); }">更新主菜单</button>
        </div>
        <h2 class="ui dividing header"></h2>
        <div class="ignored ui info message">这里展示当前节点子节点信息</div>
        <!-- ko if: focusMenu()["subMenu"] && focusMenu().subMenu().length > 0 -->
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>位置</th>
                    <th>菜单ID</th>
                    <th>菜单名称</th>
                    <th>应用地址</th>
                    <th style="width: 225px;">功能</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: focusMenu().subMenu -->
                <tr>
                    <td>
                        <div class="ui ribbon label" data-bind="text: $index() + 1"></div>
                    </td>
                    <td data-bind="text: menuId"></td>
                    <td data-bind="text: menuName"></td>
                    <td data-bind="text: link"></td>
                    <td>
                        <button class="ui mini inverted green button" data-bind="disable: $index() == 0, click: $parent.upMenu">上移</button>
                        <button class="ui mini inverted blue button" data-bind="disable: $index() == $parent.focusMenu().subMenu().length - 1, click: $parent.downMenu">下移</button>
                        <button class="ui mini inverted red button" data-bind="disable: $data.subMenu && $data.subMenu().length > 0, click: $parent.removeSubMenu">删除</button>
                    </td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
        <!-- /ko -->
    </div>
</div>
<div id="wind" class="ui modal" data-bind="module: palette"></div>
