<h3 class="ui dividing header">普通数组 ＋ 普通数据</h3>
<pre>
    <code class="code xml">
    var list = [{
        a: 1, b: 1
    }, {
        a: 2, b: 2
    }, {
        a: 3, b: 3
    }];
    </code>
</pre>
<table class="ui celled table">
<thead>
    <tr>
        <th>Field A</th>
        <th>Field B</th>
        <th><button class="mini ui button" data-bind="click: addItem1"> 添加数据 </button></th>
    </tr>
</thead>
<tbody>
    <!-- ko foreach: list1 -->
    <tr>
        <td data-bind="text: a"></td>
        <td data-bind="text: b"></td>
        <td><button class="mini ui button" data-bind="click: $parent.changeContent1"> 修改数据 </button></td>
    </tr>
    <!-- /ko -->
</tbody>
<tfoot>
    <tr>
        <th colspan="3"> 无法感知添加事件和变更事件 </th>
    </tr>
</tfoot>
</table>

<h3 class="ui dividing header"></h3>

<h3 class="ui dividing header">ko 数组 ＋ 普通数据</h3>
<pre>
    <code class="code xml">
    var list = ko.observableArray([{
        a: 1, b: 1
    }, {
        a: 2, b: 2
    }, {
        a: 3, b: 3
    }]);
    </code>
</pre>
<table class="ui celled table">
<thead>
    <tr>
        <th>Field A</th>
        <th>Field B</th>
        <th><button class="mini ui button" data-bind="click: addItem2"> 添加数据 </button></th>
    </tr>
</thead>
<tbody>
    <!-- ko foreach: list2 -->
    <tr>
        <td data-bind="text: a"></td>
        <td data-bind="text: b"></td>
        <td><button class="mini ui button" data-bind="click: $parent.changeContent2"> 修改数据 </button></td>
    </tr>
    <!-- /ko -->
</tbody>
<tfoot>
    <tr>
        <th colspan="3"> 只能感知添加事件，但不能感知变更事件 </th>
    </tr>
</tfoot>
</table>

<h3 class="ui dividing header"></h3>

<h3 class="ui dividing header">ko 数组 ＋ ko 数据</h3>
<pre>
    <code class="code xml">
    var list = ko.observableArray(
        ko.mapping.fromJS(
            [{
                a: 1, b: 1
            }, {
                a: 2, b: 2
            }, {
                a: 3, b: 3
            }]
        )()
    );
    </code>
</pre>
<table class="ui celled table">
<thead>
    <tr>
        <th>Field A</th>
        <th>Field B</th>
        <th><button class="mini ui button" data-bind="click: addItem3"> 添加数据 </button></th>
    </tr>
</thead>
<tbody>
    <!-- ko foreach: list3 -->
    <tr>
        <td data-bind="text: a"></td>
        <td data-bind="text: b"></td>
        <td><button class="mini ui button" data-bind="click: $parent.changeContent3"> 修改数据 </button></td>
    </tr>
    <!-- /ko -->
</tbody>
<tfoot>
    <tr>
        <th colspan="3"> 既能感知添加事件，还能感知变更事件 </th>
    </tr>
</tfoot>
</table>
