<h4 class="col-md-3 col-md-offset-1">原生数据生成表格</h4>
<button data-bind="click: addItem1" class="btn btn-info btn-sm">添加内容</button>
<table class="table">
    <thead>
        <tr>
            <td>a字段</td>
            <td>b字段</td>
            <td>修改内容</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: list1 -->
        <tr>
            <td data-bind="text: a"></td>
            <td data-bind="text: b"></td>
            <td>
                <button data-bind="click: $parent.changeContent1" class="btn btn-info btn-sm">修改内容</button>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>

<br>

<h4 class="col-md-3 col-md-offset-1">Ko数组</h4>
<button data-bind="click: addItem2" class="btn btn-info btn-sm">添加内容</button>
<table class="table">
    <thead>
        <tr>
            <td>a字段</td>
            <td>b字段</td>
            <td>修改内容</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: list2 -->
        <tr>
            <td data-bind="text: a"></td>
            <td data-bind="text: b"></td>
            <td>
                <button data-bind="click: $parent.changeContent2" class="btn btn-info btn-sm">修改内容</button>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>

<br>

<h4 class="col-md-3 col-md-offset-1">Ko数据</h4>
<button data-bind="click: addItem3" class="btn btn-info btn-sm">添加内容</button>
<table class="table">
    <thead>
        <tr>
            <td>a字段</td>
            <td>b字段</td>
            <td>修改内容</td>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: list3 -->
        <tr>
            <td data-bind="text: a"></td>
            <td data-bind="text: b"></td>
            <td>
                <button data-bind="click: $parent.changeContent3" class="btn btn-info btn-sm">修改内容</button>
            </td>
        </tr>
        <!-- /ko -->
    </tbody>
</table>
