<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 网站 Meta 信息 -->
    <%- include viewport/meta.html %>
    <!-- /网站 Meta 信息 -->
    <title><%= title %></title>
    <!-- 通用样式 -->
    <%- include viewport/links.html %>
    <!-- /通用样式 -->
    <!-- 通用脚本 -->
    <%- include viewport/scripts.html %>
    <!-- /通用脚本 -->
</head>
<body>
    <div class="mycontainer">
        <!-- 菜单信息 -->
        <%- include viewport/menu.html %>
        <!-- /菜单信息 -->
        <!-- 提示信息框 -->
        <%- include viewport/flash.html %>
        <!-- /提示信息框 -->
        <div class="ui main container mycontent">
            <div data-bind="module: palette, visible: !loading()"></div>
            <div id="loading" data-bind="visible: loading()">
                <div class='rabbit'></div>
                <div class='clouds'></div>
            </div>
        </div>
        <!-- 页尾信息 -->
        <%- include viewport/footer.html %>
        <!-- /页尾信息 -->
    </div>
    <!-- 数据接口 ?unitTest=true 进行接口测试 -->
    <%- include viewport/unitTest.html %>
    <!-- /数据接口 -->
    <!-- 弹窗 -->
    <%- include viewport/modals.html %>
    <!-- /弹窗 -->
    <script type="text/javascript">
        require(["knockout", "Tools", "Super"<% if(params.compress){ %>, "json!apps/<%= appName %>/rev-manifest.json"<% } %>, "jquery", "ko-amd"], function (ko, Tools, Super<% if(params.compress){ %>, mapping<% } %>, $) {
            <% if(message.success || message.warning || message.error){ %>
            $('.message .close').on('click', function() {
                $(this).closest('.message').transition('pulse').transition('fade');
            });
            <% } %>

            // 脚本、模板路径配置
            ko.bindingHandlers.module.baseDir = "apps/<%= appName %>/modules";
            ko.amdTemplateEngine.defaultPath = "apps/<%= appName %>/templates";

            if(params.compress){
                params.mapping          = mapping;
                params.mapping.getJS    = Tools.getMappingFunc('.min.js', 3);
                params.mapping.getTemp  = Tools.getMappingFunc('.tmpl.html', 10);
            } else {
                ko.amdTemplateEngine.defaultSuffix = '.html';
                params.mapping         = {};
                params.mapping.getJS   = function (key) {return key}
                params.mapping.getTemp = function (key) {return key}
            }

            var self = Super.call({}, { parent: {}, data: params });

            self.palette({
                name    : self.data.mapping.getJS("main"),
                template: self.data.mapping.getTemp("main"),
                data    : { parent: self, data: self.data }
            });

            ko.applyBindings(self);

            if (self.data.test) {
                index = self;
            }
        });
    </script>
</body>
</html>
