<!DOCTYPE html>
<html lang="en">
<head>
    <%- include viewport/meta.html %>
    <title><%= title %></title>
    <%- include viewport/links.html %>
    <%- include viewport/scripts.html %>
</head>
<body>
    <div class="mycontainer">
        <%- include viewport/menu.html %>
        <div class="ui main container mycontent">
            <div data-bind="module: palette, visible: !loading()"></div>
            <div id="loading" data-bind="visible: loading()">
                <div class='rabbit'></div>
                <div class='clouds'></div>
            </div>
        </div>
        <%- include viewport/footer.html %>
    </div>
    <script type="text/javascript">
        var params = <%= params %>;
        console.log(params);
    </script>
    <script type="text/javascript">
        require(["knockout", "jquery", "Tools", "app", "ko-amd"], function (ko, $, Tools, App) {
            ko.bindingHandlers.module.baseDir = "apps/<%= appName %>/modules";
            ko.amdTemplateEngine.defaultPath = "apps/<%= appName %>/templates";

            $.getJSON("apps/<%= appName %>/rev-manifest.json?v=" + Tools.guid("xxxxxxxxxxxx"), function (mapping) {
                params.mapping = mapping;
                params.mapping.get = function (key) {
                    var result = this[key + '.min.js'];
                    return result.substring(0, result.length - 3);
                };

                ko.applyBindings(new App({ parent: this, data: params }));
            });
        });
    </script>
</body>
</html>
