<div class="ui grid">
    <div class="three wide column">
        <div class="ui list">
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">绿野仙踪</div>
                    <div class="list">
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">白杨</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">棕榈</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">树叶</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">树枝</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">树干</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">树根</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">紫杉</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">红杉</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">银杏</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">洋槐</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">梧桐</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="folder icon"></i>
                <div class="content">
                    <div class="header">灿烂星河</div>
                    <div class="list">
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">金星</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">火星</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">天王星</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">太阳</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">天卫一</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">天卫二</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">天卫三</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">天卫四</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">水星</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">木星</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">土星</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="file icon"></i>
                            <div class="content">
                                <div class="header"><a href="javascript:void(0);">金星</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column">content</div>
</div>
