<% if(message.success){ %>
<div class="ui info message mymessage">
    <i class="close icon"></i>
    <div class="header"><%= message.success %></div>
    <!-- Visit our registration page, then try again -->
</div>
<% } %>
<% if(message.warning){ %>
<div class="ui warning message mymessage">
    <i class="close icon"></i>
    <div class="header"><%= message.warning %></div>
    <!-- Visit our registration page, then try again -->
</div>
<% } %>
<% if(message.error){ %>
<div class="ui error message mymessage">
    <i class="close icon"></i>
    <div class="header"><%= message.error %></div>
    <!-- Visit our registration page, then try again -->
</div>
<% } %>
