<% if(success){ %>
<div class="ui info message mymessage">
    <i class="close icon"></i>
    <div class="header"><%= success %></div>
    <!-- Visit our registration page, then try again -->
</div>
<% } %>
<% if(warning){ %>
<div class="ui warning message mymessage">
    <i class="close icon"></i>
    <div class="header"><%= warning %></div>
    <!-- Visit our registration page, then try again -->
</div>
<% } %>
<% if(error){ %>
<div class="ui warning message mymessage">
    <i class="close icon"></i>
    <div class="header"><%= error %></div>123
    <!-- Visit our registration page, then try again -->
</div>
<% } %>
