<div class="ui inverted vertical footer segment myfooter">
    <div class="ui center aligned container">
        <div class="ui inverted section divider" style="margin-top: 1rem; margin-bottom: 1rem;"></div>
        <img src="/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" target="_blank" href="http://www.17zuoye.com/">一起作业网</a>
            <a class="item" target="_blank" href="http://tiku.17zuoye.net/">一起作业题库系统</a>
            <a class="item" target="_blank" href="http://wiki.17zuoye.net/">一起作业维基系统</a>
        </div>
    </div>
</div>
<div class="ui small basic test modal scrolling" style="display: none !important; top: 704px;">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Archive Old Messages
    </div>
    <div class="content">
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>
