<!-- <div class="ui small basic modal scrolling" style="display: none !important; top: 704px;">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Archive Old Messages
    </div>
    <div class="content">
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div> -->
<div id="__message__" class="ui small modal">
    <i class="close icon"></i>
    <div class="header" data-bind="value: msg.title"></div>
    <div class="image content">
        <div class="image">
            <i class="icon" data-bind="css: msg.type"></i>
        </div>
        <div class="description" data-bind="value: msg.message"></div>
    </div>
    <div class="actions">
        <!-- ko foreach: msg.buttons -->
        <div class="ui button" data-bind="css: $parent.msg.colors[$index()], text: text, click: callback"></div>
        <!-- /ko -->
    </div>
</div>
