<style>
    .bootstrap-tagsinput { margin-bottom: auto; }
    .nav>li>a:focus { background-color: #FFFFFF; color: #2563AB; }
    .focusType { background-color: #e7e7e7!important; }
</style>
<div data-bind="text: cache"></div>
<div class="row nav nav-pills nav-stacked">
    <div class="col-sm-2 sidebar-offcanvas" role="navigation">
        <br>
        <ul class="nav" data-bind="foreach: demolist">
            <li>
                <a href="javascript:void(0);" data-bind="text: text, css: { 'focusType': $parent.current_demo().id == id }, attr: { id: id }, click: $parent.changeType"></a>
                <!-- ko if: $data["childen"]-->
                <ul class="nav" data-bind="foreach: childen" style="padding-left: 20px; display: none;">
                    <li>
                        <a href="javascript:void(0);" data-bind="text: text, css: { 'focusType': $parents[1].current_demo().id == id }, attr: { id: id }, click: $parents[1].changeType"></a>
                    </li>
                </ul>
                <!-- /ko -->
            </li>
        </ul>
    </div>
    <div class="col-sm-10" data-bind="module: palette"></div>
</div>
